:root {
  --green: #39b626;
  --blackBG: #211d1b;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px */
  padding: 10px;
  color: var(--green);
  background: var(--blackBG);
  font-family: cursor, monospace;
  overflow-x: hidden;
}

table {
  border: dashed var(--green);
}
