:root {
  --green: #2b891c;
  --blackBG: #211d1b;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px */
  padding: 10px;
  color: var(--green);
  background: var(--blackBG);
  font-family: cursor, monospace;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #2b891c;
  position: absolute;
  top: 5px;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

label{
  margin: 5px;
}

input{
  color: var(--green);
  background-color: #2f2926;
  border: none;
}

button{
  background-color: #211d1b;
  color: var(--green);
  border: dashed;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #0f340a;
}

h1{
  text-align: center;
  text-decoration: underline;
}

table{
  border: 1px dashed var(--green);
  margin: 0 auto;
  padding: 5px;
  border-collapse: collapse;
}

th{
  background-color: #363230;
}

th, td {
  border: 1px dashed var(--green); /* Establece el borde de las celdas */
  padding: 8px;
  text-align: left;
}

.inventory-form-style{
  margin: 25px;
}
